<!DOCTYPE html>
<html lang="en">
<head>
    <title>Plotting...</title>
</head>
<body>
    <h1>Input Data</h1>
    <form action="http://localhost:5000/sukses" method="POST">
        <p>
            Value X : <input name="xaxis" type="text" placeholder="Ketik value X..."
        </p>
        <p>
            Value Y : <input name="yaxis" type="text" placeholder="Ketik value Y..."
        </p>
        <p>
            <input type="submit" value="Create Graph">
        </p>
    </form>
</body>
</html>